.clear {
  background-image: url(https://images.pexels.com/photos/1775862/pexels-photo-1775862.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.clouds {
  background-image: url(https://images.pexels.com/photos/158163/clouds-cloudporn-weather-lookup-158163.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.rain {
  background-image: url(https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.snow {
  background-image: url(https://images.pexels.com/photos/773953/pexels-photo-773953.jpeg?auto=compress&cs=tinysrgb&w=600);
}



body  {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);


  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;

  background-position: center;
  background-size: cover;


}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

i.wi {
  font-size: 5rem;
  line-height: 3em;
}

h2 {
  font-size: 2rem;
}

.tooltip{
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 10px;
  color: #fff;
  background-color: #222;
  border-radius: 5px;
  font-size: 12px;
  transition: opacity 0.3s, top 0.5s;
}

h1:hover .tooltip {
  opacity: 1;
  top: -50px;
}
